<!DOCTYPE html>
<html lang="en" class="{% if opposite_theme %}theme-opposite {% endif %}background-primary"
    data-mode="{% if mode == 'group' %}GROUP{% elif mode == 'server' %}SERVER{% elif mode == 'apikey' %}APIKEY{% else %}ADMIN{% endif %}">
<head>
    {% include 'meta.html' with context %}
    <link rel="stylesheet" href="/static/3rdparty/css/chart.css">
    <link rel="stylesheet" href="/static/css/management.css">
    <title>{{BRANDING}} - Management</title>
</head>
<body>
{% include 'js_includes.html' %}
{% include 'header.html' with context %}
{% include ('configs/' + page_guidelines) with context %}
{% include 'loading.html' with context %}
{% include 'footer.html' with context %}
</body>
</html>