<!DOCTYPE html>
<html id="htmlRoot"
      lang="en"
      class="{% if opposite_theme %}theme-opposite {% endif %}background-primary">
    <head>
        {% include 'meta.html' with context %}
        <title>{{ BRANDING }} - Guidelines</title>
    </head>
    <body>
        {% include 'js_includes.html' %}
        {% include 'header.html' with context %}
        {% include ('configs/' + page_guidelines) with context %}
        {% include 'loading.html' with context %}
        {% include 'footer.html' with context %}
    </body>
</html>
