<!DOCTYPE html>
<html id="htmlRoot"
      lang="en"
      class="{% if opposite_theme %}theme-opposite {% endif %}background-primary">
    <head>
        {% include 'meta.html' with context %}
        <link rel="stylesheet" href="/static/css/logs.css?v={{ GB_VERSION }}">
        <title>{{ BRANDING }} - Logs</title>
    </head>
    <body>
        {% include 'js_includes.html' %}
        {% include 'header.html' with context %}
        <div id="min-size-warning" class="is-hidden">Audit Log viewing is not supported on thin monitors</div>
        <div id="logs">
            <div id="logs-category">
                <div class="category-folder selected" data-type="all">All Log Types</div>
                <div class="category-folder" data-type="infraction">Infraction</div>
                <div class="category-item" data-type="EVENT_INFRACTION_NEW">New Infraction</div>
                <div class="category-item" data-type="EVENT_INFRACTION_REMOVE">Remove Infraction</div>
                <div class="category-item" data-type="EVENT_INFRACTION_EDIT">Edit Infraction</div>
                <div class="category-item" data-type="EVENT_COMMENT_NEW">New Comment</div>
                <div class="category-item" data-type="EVENT_COMMENT_EDIT">Edit Comment</div>
                <div class="category-item" data-type="EVENT_COMMENT_DELETE">Delete Comment</div>
                <div class="category-item" data-type="EVENT_FILE_UPLOAD">Upload File</div>
                <div class="category-item" data-type="EVENT_FILE_DELETE">Delete File</div>
                <div class="category-item" data-type="EVENT_RPC_KICK">RPC Kick</div>
                <div class="category-folder" data-type="server">Server</div>
                <div class="category-item" data-type="EVENT_SERVER_NEW">New Server</div>
                <div class="category-item" data-type="EVENT_SERVER_EDIT">Edit Server</div>
                <div class="category-item" data-type="EVENT_SERVER_REGENERATE_TOKEN">Regenerate Token</div>
                <div class="category-folder" data-type="group">Permissions</div>
                <div class="category-item" data-type="EVENT_PERMISSIONS_GROUP_EDIT">Edit Group</div>
                <div class="category-item" data-type="EVENT_PERMISSIONS_GROUP_ADD">Add Group</div>
                <div class="category-item" data-type="EVENT_PERMISSIONS_GROUP_DELETE">Delete Group</div>
                <div class="category-item" data-type="EVENT_PERMISSIONS_ADMIN_EDIT">Edit Admin</div>
                <div class="category-folder" data-type="vpn">VPN</div>
                <div class="category-item" data-type="EVENT_VPN_NEW">New VPN</div>
                <div class="category-item" data-type="EVENT_VPN_DELETE">Delete VPN</div>
                <div class="category-item" data-type="EVENT_VPN_EDIT">Edit VPN</div>
            </div>
            <div id="logs-body">
                <div id="logs-table">
                    <div id="logs-table-header">
                        <div>Time</div>
                        <div>Type</div>
                        <div>Admin</div>
                        <div>Auth Type</div>
                        <div>Authenticator</div>
                    </div>
                    <div id="logs-table-body">
                        <div class="logs-table-row">
                            <div>2025-07-29 09:00</div>
                            <div>New Infraction</div>
                            <div>User</div>
                            <div>System</div>
                            <div>1234</div>
                        </div>
                    </div>
                </div>
                <div id="diff-viewer-container" class="is-hidden"></div>
            </div>
            <div id="logs-admin" class="is-hidden-mobile-tiny">
                <div class="admin-folder selected" data-type="0">All Admins</div>
                <div class="admin-item" data-type="-1">System/Unknown</div>
                <div class="admin-item" data-type="asdfasq2341234">Vauff</div>
                <div class="admin-item" data-type="asdfasq2341234">Ice</div>
                <div class="admin-item" data-type="asdfasq2341234">Snowy</div>
                <div class="admin-item" data-type="asdfasq2341234">Block</div>
            </div>
        </div>
        <script src="/static/js/logs.js?v={{ GB_VERSION }}"></script>
        {% include 'loading.html' with context %}
        {% include 'footer.html' with context %}
    </body>
</html>
