<!DOCTYPE html>
<html lang="en" class="{{theme['background']}}">
<head>
    {% include 'meta.html' with context %}
    <link rel="stylesheet" href="/static/3rdparty/css/chart.css">
    <link rel="stylesheet" href="/static/css/management.css">
    <title>{{BRANDING}} - Infractions</title>
</head>
<body class="{{theme['text-color']}}">
{% include 'header.html' with context %}
<table id="mgmt-table" class="table">
    <thead>
        <tr>
            {% if mode == 'group' %}
            <th id="header-group" class="has-text-centered min-250">Group</th>
            <th id="header-group-privileges" class="has-text-centered min-500">Privileges</th>
            {% elif mode == 'server' %}
            <th id="header-server-enabled" class="has-text-centered max-50 is-hidden-mobile">Enabled</th>
            <th id="header-server" class="has-text-centered min-250">Server</th>
            <th id="header-server-ip" class="has-text-centered min-250">IP</th>
            {% elif mode == 'apikey' %}
            <th id="header-api" class="has-text-centered min-500">Key</th>
            {% else %}
            <th id="header-admin" class="has-text-centered min-250">Admin</th>
            <th id="header-admin-groups" class="has-text-centered min-500">Groups</th>
            {% endif %}
        </tr>
</thead>
    



    
    <tbody>
        <tr class="mgmt-item">
            <td class="vertical-center has-text-left">
                <img src="https://avatars.steamstatic.com/14cd2844c3f3c54f46b7cabb23a4f1bfc7c84e24_medium.jpg" class="mgmt-admin-av mr-2"><span>Ice</span>
            </td>
            <td class="vertical-center has-text-centered">
                <ul class="group-list">
                    <li>Trial Admin</li><li>Admin</li><li>Senior Admin</li><li>Server Manager</li><li>Root</li>
                </ul>
            </td>
        </tr>
        <tr class="mgmt-item">
            
            <td class="vertical-center has-text-left">
                <img src="https://avatars.steamstatic.com/14cd2844c3f3c54f46b7cabb23a4f1bfc7c84e24_medium.jpg" class="mgmt-admin-av mr-2">
                <span>Ice</span>
            </td>
            <td class="vertical-center has-text-centered">
                <ul class="group-list">
                    <li>Trial Admin</li><li>Admin</li><li>Senior Admin</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
{% include 'error.html' %}
{% include 'js_includes.html' %}
<script src="/static/js/management.js"></script>
{% include 'loading.html' with context %}
{% include 'footer.html' with context %}
</body>
</html>