<!DOCTYPE html>
<html lang="en" class="{% if theme['name'] == 'DARK' %}theme-dark{% endif %} background-primary">
<head>
    {% include 'meta.html' with context %}
    <link rel="stylesheet" href="/static/3rdparty/css/chart.css">
    <title>{{BRANDING}} - Infractions</title>
</head>
<body>
{% include 'header.html' with context %}
<div>
    {% include 'mgmt_sidebar.html' with context %}
</div>
{% include 'error.html' %}
{% include 'js_includes.html' %}
<script src="/static/js/server_mgmt.js"></script>
{% include 'loading.html' with context %}
{% include 'footer.html' with context %}
</body>
</html>