.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: #F4C63D;
  color: #453D3F;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #F4C63D; }
  .chartist-tooltip.tooltip-show {
    opacity: 1; }

.ct-area, .ct-line {
  pointer-events: none; }

/* Color Overrides */

/* Series A is Bans */
.ct-series-a > .ct-bar {
  stroke: var(--bans-color);
}

/* Series B is Gags */
.ct-series-b > .ct-bar {
  stroke: var(--text-color);
}

/* Series C is Mutes */
.ct-series-c > .ct-bar {
  stroke: var(--voice-color);
}

/* Series D is admin chat blocks */
.ct-series-d > .ct-bar {
  stroke: var(--admin-chat-color);
}

/* Series E is call admin blocks */
.ct-series-e > .ct-bar {
  stroke: var(--call-admin-color);
}

/* Series F is Total Infractions */
.ct-series-f > .ct-bar {
  stroke: var(--item-color);
}

/* Series G is Warnings */
.ct-series-g > .ct-bar {
  stroke: var(--warning-color);
}

/* Series H is Total Infractions */
.ct-series-h > .ct-bar {
  stroke: hotpink;
}
