#logs {
    display: grid;
    grid-template-columns: 170px auto 170px;
    background-color: dodgerblue;
    padding: 10px;
    height: calc(100vh - 16px - 52px);
    /* Full page height - footer height - navbar height */
    gap: 10px;
}

@media screen and (max-width: 1100px) {
    #logs {
        grid-template-columns: 170px auto;
    }

    .is-hidden-mobile-tiny {
        display: none !important;
    }
}

@media screen and (max-width: 800px) {
    #logs {
        display: none !important;
    }

    #min-size-warning {
        display: block !important;
        color: red;
        font-size: 48pt;
        text-align: center;
    }
}

#logs > div {
    background-color: var(--background-primary);
    border: 1px solid black;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    overscroll-behavior: none;
}

#logs-category,
#logs-admin {
    overflow-y: auto;
}

#logs-body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* MARK: Table Layout */
#logs-table {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#logs-table-header {
    font-weight: bold;
    border-bottom: 1px solid #aaa;
    flex-shrink: 0;
}

#logs-table-header > div {
    margin: 0 2px;
}

.logs-table-row {
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.logs-table-row,
#logs-table-header {
    display: grid;
    grid-template-columns: 200px 200px 15% 100px auto;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.logs-table-row > div {
    overflow-x: hidden;
    margin: 0 2px;
    text-wrap: nowrap;
}

#logs-table-body {
    overflow-y: auto;
    flex: 1;
    overscroll-behavior: none;
}

.logs-table-row:nth-child(odd) {
    background-color: rgba(100, 100, 100, 20%);
}

.logs-table-row.selected {
    background-color: var(--background-accent-secondary) !important;
}

.logs-table-row:hover {
    background-color: var(--background-tertiary);
}

.logs-table-header > div:last-child,
.logs-table-row > div:last-child {
    width: fit-content;
}


/* MARK: Filters */
#logs-category,
#logs-admin {
    overflow-y: auto;
    padding: 5px;
    font-size: 14px;
    text-align: left;
}

.category-folder,
.admin-folder {
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
    padding: 4px 6px;
    border-radius: 4px;
    text-decoration: underline;
}

.category-item,
.admin-item {
    cursor: pointer;
    color: var(--text-secondary);
    border-radius: 4px;
    position: relative;
}

.category-item {
    margin-left: 6px;
    padding: 2px 6px 2px 14px;
    cursor: pointer;
    color: var(--text-secondary);
    border-radius: 4px;
    position: relative;
}

.admin-item {
    margin: 2px;
    text-align: center;
    padding: 2px 10px;
}

.category-item::before {
    content: "↳";
    position: absolute;
    padding-left: 4px;
    left: 0px;
}

/* All category */
#logs-category > div:first-child,
.admin-folder {
    text-align: center;
    font-size: 16pt;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 0;
    text-decoration: none;
}

/* Hover & selected styling */
.category-folder:hover,
.category-item:hover,
.admin-folder:hover,
.admin-item:hover {
    background-color: var(--background-tertiary);
}

.category-folder.selected,
.category-item.selected,
.admin-folder.selected,
.admin-item.selected {
    background-color: var(--background-accent-primary);
    color: var(--text-primary);
}

/* MARK: Description */
#diff-viewer-container {
    height: fit-content;
    min-height: 200px;
    max-height: 50%;
    padding: 8px;
    background-color: var(--background-secondary);
    overflow-y: auto;
    border-top: 1px solid #ccc;
    font-family: monospace;
    line-height: 1.1;
    border: 3px solid #7c7c7c;
}

.diff-line {
    padding: 0px 1px 0px 15px;
    position: relative;
    width: fit-content;
}

.diff-add {
    background-color: #aceebb;
}

.diff-remove {
    background-color: #ffcecb;
}

.diff-add::before,
.diff-remove::before {
    position: absolute;
    left: 0px;
    padding-left: 2px;
}

.diff-add::before {
    content: "+";
}

.diff-remove::before {
    content: "-";
}

@media (prefers-color-scheme: dark) {
    .diff-add {
        background-color: #3fb9504d;
    }

    .diff-remove {
        background-color: #f851494d;
    }
}

.diff-unchanged {
    color: var(--text-primary);
}
