/* MARK: Main UI */
#mgmt-table {
    margin: auto;
    margin-bottom: 1.5rem;
    width: fit-content;
    min-width: 600px;
}

.mgmt-admin-av {
    width: 42px;
    height: 42px;
    vertical-align: middle;
    border-radius: 50%;
    border: 1px solid var(--background-tertiary);
}

#mgmt-table tbody tr:hover {
    cursor: pointer;
    background-color: var(--background-secondary);
}

@media only screen and (max-width: 600px) {
    #mgmt-table {
        margin: 55px auto 1.5rem auto;
        width: 100%;
        min-width: 250px;
        overflow: hidden;
    }

    #header-admin {
        width: 100px;
        padding: 0;
    }

    #header-admin-groups {
        width: 150px;
        padding: 0;
    }
}

@media only screen and (min-width: 601px) {
    .group-list li {
        display: inline;
    }

    .group-list li:not(:first-child)::before {
        content: ", "
    }
}

.group-list {
    max-width: 50vw;
}

.permission-list {
    list-style: disc;
}

@media only screen and (min-width: 800px) {
    .permission-list {
        columns: 2;
    }

    .permission-list li {
        padding-right: 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .permission-list {
        columns: 3;
    }
}

.fa-check-circle {
    color: green;
}

.fa-minus-circle {
    color: red;
}