<!--Rename this file to index_links.html and edit as desired-->
<a href="//gflclan.com" class="panel-block">GFL ZE Website</a>
<a href="//discord.gg/gflze" class="panel-block">GFL ZE Discord</a>
<a href="//donate.gflclan.com" class="panel-block">Donate to GFL ZE</a>
