<!--Rename this file to index_links.html and edit as desired-->
<a href="//google.com" class="panel-block">Website</a>
<a href="//google.com" class="panel-block">Discord</a>
<a href="//google.com" class="panel-block">Donations</a>
