<!--Rename this file to index_info.html and edit as desired-->
<p>If you've been banned/punished, you can use the search bar below to find
    information about your infraction. Once you've found your infraction, you
    can <a href="https://discord.gg/gflze">join our Discord</a>, and DM the
    <b>ZE ModMail</b> bot to submit an appeal. Please include your Steam ID,
    and why you think you should be unbanned. Response times may vary.
</p>
<br>
<p>Alternatively, use <a href="https://discord.gg/Hmck6UnjWC">this Discord</a> if
    you're unable to join our main Discord due to an existing ban.
</p>