<!--Rename this file to index_info.html and edit as desired-->
<p>If you've been punished, you can use the search bar below to find
    information about your infraction.
</p>
<br>
<p>If you believe that you have been falsely punished, please use
    the link on the sidebar to go to our website and appeal there.
</p>
