<div id="errorModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box has-background-danger">
            <article class="media">
                <div class="media-left">
                    <figure class="icon">
                        <i class="has-text-white fas fa-exclamation-triangle fa-2x"></i>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p id="errorMessage" class="has-text-white">An error has occurred.</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>