<nav class="pagination mr-5 ml-5"
     role="navigation"
     aria-label="pagination">
    {% if user is not none and has_flag(user.permissions, p_nodes['Add Infractions']) %}
        <a id="createInfractionLoader" class="pagination-next is-accent button"><i class="fas fa-gavel"></i></a>
    {% endif %}
    <ul id="infraction-pages" class="pagination-list">
    </ul>
</nav>
<a id="advancedSearchToggle" class="is-accent is-hidden-mobile button">Advanced Search</a>
<div class="table-container is-hidden" id="infractions_tab">
    <table class="table is-fullwidth background-primary infractions-table">
        <thead>
            <tr>
                <th class="has-text-centered max-50 is-hidden-mobile text-primary">Svc</th>
                <th class="has-text-centered max-200 is-hidden-touch text-primary">Created</th>
                <th class="has-text-centered max-200 is-hidden-mobile-tiny text-primary">Restrictions</th>
                <th class="has-text-centered min-200 text-primary">User</th>
                <th class="has-text-centered min-200 is-hidden-mobile text-primary">Admin</th>
                <th class="has-text-centered max-250 text-primary">Remaining</th>
            </tr>
        </thead>
        <tbody id="infractionBase">
        </tbody>
    </table>
    <div class="ml-5 mr-5">
        <p class="has-text-left is-size-7">
            <span id="resultCount">0</span> infractions
        </p>
    </div>
</div>
<script src="/static/js/components/infraction_list.js"></script>
