<div id="loadingModal" class="modal">
    <div class="modal-background" no-click></div>
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1">
            <img class="animated" src="/static/images/cubes/3.webp">
        </div>
        <div class="sk-cube sk-cube2">
            <img class="animated" src="/static/images/cubes/2.webp">
        </div>
        <div class="sk-cube sk-cube3">
            <img class="animated" src="/static/images/cubes/1.webp">
        </div>
        <div class="sk-cube sk-cube4">
            <img class="animated" src="/static/images/cubes/6.webp">
        </div>
        <div class="sk-cube sk-cube5">
            <img class="animated" src="/static/images/cubes/5.webp">
        </div>
        <div class="sk-cube sk-cube6">
            <img class="animated" src="/static/images/cubes/4.webp">
        </div>
        <div class="sk-cube sk-cube7">
            <img class="animated" src="/static/images/cubes/9.webp">
        </div>
        <div class="sk-cube sk-cube8">
            <img class="animated" src="/static/images/cubes/8.webp">
        </div>
        <div class="sk-cube sk-cube9">
            <img class="animated" src="/static/images/cubes/7.webp">
        </div>
    </div>
    <p id="loadMessage">LOAD_MESSAGE_HERE</p>
</div>