<nav id="mgmt-navbar">
    {% if user is not none and has_flag(user.permissions, p_nodes['Manage Groups and Admins']) %}
    <a id="admin-mgmt" href="../../manage/admin/">Admins</a>
    <a id="group-mgmt" href="../../manage/group/">Groups</a>
    {% endif %}
    {% if user is not none and has_flag(user.permissions, p_nodes['Manage Servers']) %}
    <a id="server-mgmt" href="../../manage/server/">Servers</a>
    {% endif %}
    {% if user is not none and has_flag(user.permissions, p_nodes['Manage API Keys']) %}
    <a id="API-mgmt" href="../../manage/api/">API Keys</a>
    {% endif %}
</nav>