<div id="server_modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content background-secondary player-box">
        <div class="box background-secondary">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-64x64 crop-to-container server-map-image">
                        <img id="server_map" src="" alt="Map">
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content">
                        <div class="text-primary">
                            <strong id="server_hostname" class="text-primary">Local Test Server</strong>
                            <small id="server_ip">127.0.0.1:27015</small>
                            <div class="table-container">
                                <table class="table background-secondary text-primary">
                                    <tbody id="server_players" class="is-borderless scrollable-table server-table">

                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>